<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  </head>
  <body class="light-gray">
    <div class="container"> 
        <div class="container-wrapper mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">
                            <%= panelTitle %>
                        </div>
                    </div>                                 
                    <form class="form-horizontal" role="form" method="post" action="/verify/<%= lineID %>">
                        <div class="form-horizontal-input-group input-group">
                            <span class="icon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input id="login-username" type="text" class="form-control" name="username" placeholder=<%= usernamePlaceholder %>>
                        </div>
                            
                        <div class="form-horizontal-input-group input-group">
                            <span class="icon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder=<%= passwordPlaceholder %>>
                        </div>
                                                        
                        <div class="input-group">
                            <%if(typeof error == "undefined"){%>
                                <% } else { %>
                                    <div class="alert alert-warning">
                                            <%= error[0].msg%>
                                    </div>
                            <%}%>    
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <input class="btn btn-success green" type="submit" value=<%= verifyButtonText %> >
                            </div>   
                        </div>                                                 
                    </form>     
                </div>                     
            </div>       
        </div> 
    </div>
    
</body>
</html>
